In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("latih_complete.csv", delimiter=',')
df.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

In [3]:
cf=df
cf=cf.drop_duplicates(subset=["0", "1282"])

In [4]:
#rf = pd.read_csv("datatestnorm.csv", delimiter=';', header=None)
#df.head()

In [5]:
dataset2 = df
#del dataset[0]
#del dataset[1282]

In [6]:
dataset2 = df
X_positip = dataset2[dataset2['label']==1]

In [7]:
Xasa=pd.concat([X_positip['0'],X_positip['1282']], axis=1)
Xasa.head()

         0            1282
0     4725  YP_009725307.1
260   4725      DPOL_HHV11
261   4725      KITH_HHV11
262   4725      KITH_HHV1C
335  34755    K4LC41_9BETC

In [8]:
X_positip['label'].value_counts()

1    685
Name: label, dtype: int64

In [9]:
Xasa.to_csv("dti_latih.csv",index=False)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

In [11]:
X = df.drop(['0', '1282','label'], axis=1)
Y = df['label']
seed = 7

In [109]:
X_pos = dataset2[dataset2['label']==1]
Y_pos = X_pos['label']
X_pos = X_pos.drop(['label'], axis=1)
X_neg = dataset2[dataset2['label']==0]
Y_neg = X_neg['label']
X_neg = X_neg.drop(['label'], axis=1)

In [110]:
len(X_pos)

685

In [111]:
X_spike= X_pos.loc[X_pos['1282'] == "6M0J:A"]
X_spike=X_spike.append(X_pos.loc[X_pos['1282'] == "6LZG:A"])
X_spike=X_spike.append(X_pos.loc[X_pos['1282'] == "6VSB:A"])
X_spike=X_spike.append(X_pos.loc[X_pos['1282'] == "6VXX:A"])
X_spike['label']=1
Y_spike = X_spike['label']
X_spike=X_spike.drop(['0', '1282','label'], axis=1)
X_spike

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
25722,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032392,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156
25723,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032718,0.144295,0.197987,0.191275,0.000000,0.120805,0.082215,0.382550,0.187080,0.053691
25724,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.133644,0.045843,0.221445,0.046620,0.069930,0.114219,0.442890,0.000000,0.074592
25725,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.134375,0.046094,0.222656,0.046875,0.070312,0.114844,0.445312,0.000000,0.075000

In [112]:
X_pos_2=X_pos.drop(X_spike.index)
Y_pos_2=Y_pos.drop(X_spike.index)
len(X_pos_2)

681

In [113]:
Y_spike

25722    1
25723    1
25724    1
25725    1
Name: label, dtype: int64

In [114]:
X_30_pos = X_pos.sample(n=30)
X_30_pos['label']=0
Y_30_pos =X_30_pos['label']
X_30_pos=X_30_pos.drop(['0','1282','label'],axis=1)
X_30_pos.tail()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
39411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.085060,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586
12876,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.176471,0.000000,0.000000,0.257919,0.090498,0.000000,0.221719,0.515837,0.504525,0.217195
30235,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.196309,0.144295,0.263982,0.127517,0.000000,0.000000,0.164430,0.127517,0.124720,0.035794
22715,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.127869,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836
22400,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.157258,0.086694,0.118952,0.114919,0.120968,0.108871,0.000000,0.229839,0.000000,0.193548

In [115]:
Y_30_pos

32101    0
11756    0
19445    0
17376    0
11841    0
36930    0
31654    0
11778    0
11777    0
11760    0
29915    0
19494    0
11762    0
11737    0
33132    0
25623    0
11770    0
29395    0
30073    0
33135    0
19439    0
11785    0
33214    0
22067    0
19452    0
39411    0
12876    0
30235    0
22715    0
22400    0
Name: label, dtype: int64

In [116]:
X_forspikesmote = X_spike.append(pd.DataFrame(data = X_30_pos), ignore_index=True)
X_forspikesmote

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032392,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156
1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032718,0.144295,0.197987,0.191275,0.000000,0.120805,0.082215,0.382550,0.187080,0.053691
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.133644,0.045843,0.221445,0.046620,0.069930,0.114219,0.442890,0.000000,0.074592
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.134375,0.046094,0.222656,0.046875,0.070312,0.114844,0.445312,0.000000,0.075000
4,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.182955,0.134480,0.184519,0.044566,0.062549,0.084441,0.306489,0.000000,0.000000,0.300235
5,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.217149,0.478842,0.000000,0.126949,0.044543,0.080178,0.109131,0.000000,0.248330,0.071269
6,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.130820,0.000000,0.088692,0.159645,0.000000,0.000000,0.247228,0.000000
7,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.040710,0.089770,0.000000,0.118998,0.000000,0.037578,0.204593,0.000000,0.000000,0.133612
8,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.137809,0.075972,0.104240,0.000000,0.000000,0.095406,0.173145,0.000000,0.000000,0.000000
9,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.219101,0.193258,0.000000,0.384270,0.134831,0.283146,0.110112,0.256180,0.000000,0.071910
10,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.142753,0.000000,0.172767,0.417277,0.058565,0.052709,0.286969,0.000000,0.653001,0.281113
11,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.218182,0.240559,0.000000,0.159441,0.000000,0.176224,0.068531,0.159441,0.000000,0.223776
12,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.071376,0.062958,0.172767,0.208638,0.073206,0.065886,0.286969,0.000000,0.489751,0.117130
13,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140000,0.308718,0.000000,0.000000,0.020513,0.184615,0.351795,0.116923,0.228718,0.131282
14,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.256018,0.282276,0.258206,0.623632,0.262582,0.196937,0.000000,0.000000,0.975930,0.070022
15,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.109653,0.120900,0.165886,0.106842,0.056232,0.101218,0.045923,0.213683,0.313496,0.089972
16,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.155502,0.137161,0.094099,0.090909,0.047847,0.028708,0.234450,0.000000,0.533493,0.178628
17,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.349602,0.171315,0.000000,0.113546,0.119522,0.035857,0.292829,0.000000,0.000000,0.191235
18,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.217149,0.478842,0.000000,0.126949,0.044543,0.080178,0.109131,0.000000,0.248330,0.071269
19,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.110586,0.000000,0.334594,0.215501,0.151229,0.068053,0.277883,0.215501,0.210775,0.483932
20,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.117944,0.260081,0.178427,0.057460,0.060484,0.072581,0.098790,0.344758,0.224798,0.193548
21,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.127869,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836
22,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.042576,0.281659,0.000000,0.124454,0.000000,0.039301,0.106987,0.000000,0.000000,0.000000
23,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.112903,0.177833,0.097601,0.047146,0.066170,0.044665,0.283706,0.000000,0.461125,0.132341
24,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.122813,0.060182,0.082575,0.239328,0.055983,0.151155,0.205738,0.079776,0.000000,0.156753
25,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.047101,0.000000,0.285024,0.137681,0.000000,0.000000,0.236715,0.000000,0.807971,0.000000
26,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.218692,0.080374,0.110280,0.106542,0.000000,0.033645,0.183178,0.000000,0.625234,0.059813
27,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.155378,0.171315,0.235060,0.113546,0.159363,0.107570,0.390438,0.000000,0.000000,0.254980
28,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.117944,0.260081,0.178427,0.057460,0.060484,0.072581,0.098790,0.344758,0.224798,0.193548
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.085060,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586
30,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.176471,0.000000,0.000000,0.257919,0.090498,0.000000,0.221719,0.515837,0.504525,0.217195
31,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.196309,0.144295,0.263982,0.127517,0.000000,0.000000,0.164430,0.127517,0.124720,0.035794
32,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.127869,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836
33,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.157258,0.086694,0.118952,0.114919,0.120968,0.108871,0.000000,0.229839,0.000000,0.193548

In [117]:
Y_forspikesmote = pd.concat([Y_spike,Y_30_pos], ignore_index=True)
Y_forspikesmote

0     1
1     1
2     1
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
Name: label, dtype: int64

In [118]:
import joblib
import collections as co
from imblearn.over_sampling import SMOTENC

In [119]:
# For 0, 1 smote
binf=[]
for i in range(0,881):
    binf.append(i)
smote_nc = SMOTENC(random_state=seed,categorical_features=binf,k_neighbors=2)

In [120]:
X_spike_smoted, y_spike_smoted = smote_nc.fit_resample(X_forspikesmote, Y_forspikesmote)

D:\Anaconda3\lib\site-packages\scipy\sparse\lil.py:512: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
D:\Anaconda3\lib\site-packages\scipy\sparse\lil.py:514: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
D:\Anaconda3\lib\site-packages\scipy\sparse\lil.py:518: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:

In [121]:
X_spike_30 = X_spike_smoted[y_spike_smoted==1]
Y_spike_30 = y_spike_smoted[y_spike_smoted==1]
X_spike_30.tail()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
55,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032511,0.143383,0.196735,0.190066,0.000000,0.120042,0.081695,0.380133,0.185898,0.053352
56,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.027142,0.141482,0.171714,0.194764,0.007598,0.111612,0.086817,0.389528,0.155196,0.056697
57,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.024898,0.140895,0.161329,0.197070,0.010845,0.108198,0.089134,0.394140,0.142366,0.058210
58,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.133874,0.045922,0.221825,0.046700,0.070050,0.114415,0.443651,0.000000,0.074720
59,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032579,0.143681,0.197143,0.190460,0.000000,0.120291,0.081865,0.380921,0.186284,0.053463

In [122]:
X_pos.tail()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
38607,5568,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.102138,0.140143,0.000000,0.047506,0.085511,0.349169,0.000000,0.264846,0.076010,HRH3_HUMAN
38744,135413535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.184748,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1
38745,135413535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC
38746,135413535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2
39411,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,IL6RB_HUMAN

In [123]:
X_pos_2=X_pos_2.drop(['0', '1282'], axis=1)
X_pos_2=pd.concat([X_pos_2,X_spike_30], ignore_index=True)
Y_pos_2=pd.concat([Y_pos_2,Y_spike_30], ignore_index=True)
X_pos_2.tail()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
706,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032511,0.143383,0.196735,0.190066,0.000000,0.120042,0.081695,0.380133,0.185898,0.053352
707,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.027142,0.141482,0.171714,0.194764,0.007598,0.111612,0.086817,0.389528,0.155196,0.056697
708,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.024898,0.140895,0.161329,0.197070,0.010845,0.108198,0.089134,0.394140,0.142366,0.058210
709,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.133874,0.045922,0.221825,0.046700,0.070050,0.114415,0.443651,0.000000,0.074720
710,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.032579,0.143681,0.197143,0.190460,0.000000,0.120291,0.081865,0.380921,0.186284,0.053463

In [124]:
Y_pos_2.tail()

706    1
707    1
708    1
709    1
710    1
Name: label, dtype: int64

In [125]:
#X_pos

In [126]:
from sklearn import model_selection

In [127]:
X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.90, random_state=seed)

In [146]:
X_postrain_2, X_postest_2, Y_postrain_2, Y_postest_2 = model_selection.train_test_split(X_neg.drop(['0', '1282'], axis=1), 
                                                                                        Y_neg, test_size=0.90, random_state=seed)

In [129]:
X3 = X_postrain.append(X_pos)
Y3 = Y_postrain.append(Y_pos)

In [133]:
X4 = pd.concat([X_pos_2,X_postrain_2], ignore_index=True)
Y4 = pd.concat([Y_pos_2,Y_postrain_2], ignore_index=True)

In [134]:
XXX_2=pd.concat([X4,Y4], axis=1)

In [18]:
XXX=pd.concat([X3,Y3], axis=1)

In [19]:
X_postrain.describe()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
count,3872.000000,3872.000000,3872.000000,3872.000000,3872.0,3872.0,3872.0,3872.0,3872.000000,3872.000000,...,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000
mean,0.978048,0.936725,0.762913,0.297779,0.0,0.0,0.0,0.0,0.006457,0.984504,...,0.126918,0.154335,0.112874,0.161847,0.090875,0.085034,0.197587,0.082644,0.237166,0.206444
std,0.146547,0.243488,0.425351,0.457341,0.0,0.0,0.0,0.0,0.080104,0.123530,...,0.094652,0.160004,0.122862,0.171260,0.096814,0.093032,0.162563,0.155473,0.253658,0.188360
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.067708,0.034331,0.000000,0.000000,0.031891,0.036585,0.096838,0.000000,0.000000,0.074592
50%,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.124204,0.130699,0.100073,0.139024,0.073529,0.069498,0.173145,0.000000,0.200180,0.156098
75%,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.165254,0.213294,0.197987,0.215501,0.128205,0.116883,0.277883,0.128378,0.374067,0.281113
max,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [135]:
X4.head()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.00000,0.184748,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.05200,0.000000,0.157333,0.152000,0.000000,0.000000,0.130667,0.000000,0.297333,0.085333
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.05200,0.000000,0.157333,0.152000,0.000000,0.000000,0.130667,0.000000,0.297333,0.085333
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.03900,0.086000,0.000000,0.342000,0.120000,0.072000,0.490000,0.228000,0.000000,0.256000
4,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.02221,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604

In [21]:
X3.shape

(4557, 1283)

In [22]:
#dataset2[100]

In [136]:
#np.savetxt("newdesc3k+norm.csv",XXX,fmt=["%s"]*(1284), delimiter=";")
XXX_2.to_csv("latih_parted_spike30.csv",index=False)

In [24]:
#np.savetxt("datatestnorm.csv",pd.concat([X_pos,Y_pos],axis=1),fmt=["%s"]*(1284), delimiter=";")
#datates=pd.concat([X_pos,Y_pos],axis=1)
X_neg.to_csv("allneg_latih.csv",index=False)

In [143]:
X_neg.head()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A
5,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.144295,0.197987,0.191275,0.000000,0.120805,0.082215,0.382550,0.187080,0.053691,6LZG:A

In [25]:
#BAGI 10

In [151]:
def bagi_10perneg(x):
    X_postrain_2, X_postest_2, Y_postrain_2, Y_postest_2 = model_selection.train_test_split(X_neg.drop(['0', '1282'], axis=1), Y_neg, test_size=0.90, random_state=seed)
    X4 = pd.concat([X_pos_2,X_postrain_2], ignore_index=True)
    Y4 = pd.concat([Y_pos_2,Y_postrain_2], ignore_index=True)
    XXX=pd.concat([X4,Y4], axis=1)
    XXX.to_csv("latih_parted_spike30_%s.csv"%x,index=False)
    print(X_postrain_2.describe())
    return XXX

In [152]:
dt1 = bagi_10perneg(1)
dt2 = bagi_10perneg(2)
dt3 = bagi_10perneg(3)
dt4 = bagi_10perneg(4)
dt5 = bagi_10perneg(5)

                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.978048     0.936725     0.762913     0.297779     0.0     0.0
std       0.146547     0.243488     0.425351     0.457341     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006457     0.984504  ...     0.126918
std       0.0     0.0     0.080104     0.123530  ...     0.094652
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.067708
50%       0.0     0.0     0.000000     1.000000  ...     0.124204
75%       0.0     0.0     0.000000     1.000000  ...     0.165254
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.154335     0.112874     0.161847     0.090875     0.085034
std       0.160004     0.122862     0.171260     0.096814     0.093032
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.034331     0.000000     0.000000     0.031891     0.036585
50%       0.130699     0.100073     0.139024     0.073529     0.069498
75%       0.213294     0.197987     0.215501     0.128205     0.116883
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197587     0.082644     0.237166     0.206444
std       0.162563     0.155473     0.253658     0.188360
min       0.000000     0.000000     0.000000     0.000000
25%       0.096838     0.000000     0.000000     0.074592
50%       0.173145     0.000000     0.200180     0.156098
75%       0.277883     0.128378     0.374067     0.281113
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.978048     0.936725     0.762913     0.297779     0.0     0.0
std       0.146547     0.243488     0.425351     0.457341     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006457     0.984504  ...     0.126918
std       0.0     0.0     0.080104     0.123530  ...     0.094652
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.067708
50%       0.0     0.0     0.000000     1.000000  ...     0.124204
75%       0.0     0.0     0.000000     1.000000  ...     0.165254
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.154335     0.112874     0.161847     0.090875     0.085034
std       0.160004     0.122862     0.171260     0.096814     0.093032
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.034331     0.000000     0.000000     0.031891     0.036585
50%       0.130699     0.100073     0.139024     0.073529     0.069498
75%       0.213294     0.197987     0.215501     0.128205     0.116883
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197587     0.082644     0.237166     0.206444
std       0.162563     0.155473     0.253658     0.188360
min       0.000000     0.000000     0.000000     0.000000
25%       0.096838     0.000000     0.000000     0.074592
50%       0.173145     0.000000     0.200180     0.156098
75%       0.277883     0.128378     0.374067     0.281113
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.978048     0.936725     0.762913     0.297779     0.0     0.0
std       0.146547     0.243488     0.425351     0.457341     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006457     0.984504  ...     0.126918
std       0.0     0.0     0.080104     0.123530  ...     0.094652
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.067708
50%       0.0     0.0     0.000000     1.000000  ...     0.124204
75%       0.0     0.0     0.000000     1.000000  ...     0.165254
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.154335     0.112874     0.161847     0.090875     0.085034
std       0.160004     0.122862     0.171260     0.096814     0.093032
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.034331     0.000000     0.000000     0.031891     0.036585
50%       0.130699     0.100073     0.139024     0.073529     0.069498
75%       0.213294     0.197987     0.215501     0.128205     0.116883
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197587     0.082644     0.237166     0.206444
std       0.162563     0.155473     0.253658     0.188360
min       0.000000     0.000000     0.000000     0.000000
25%       0.096838     0.000000     0.000000     0.074592
50%       0.173145     0.000000     0.200180     0.156098
75%       0.277883     0.128378     0.374067     0.281113
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.978048     0.936725     0.762913     0.297779     0.0     0.0
std       0.146547     0.243488     0.425351     0.457341     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006457     0.984504  ...     0.126918
std       0.0     0.0     0.080104     0.123530  ...     0.094652
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.067708
50%       0.0     0.0     0.000000     1.000000  ...     0.124204
75%       0.0     0.0     0.000000     1.000000  ...     0.165254
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.154335     0.112874     0.161847     0.090875     0.085034
std       0.160004     0.122862     0.171260     0.096814     0.093032
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.034331     0.000000     0.000000     0.031891     0.036585
50%       0.130699     0.100073     0.139024     0.073529     0.069498
75%       0.213294     0.197987     0.215501     0.128205     0.116883
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197587     0.082644     0.237166     0.206444
std       0.162563     0.155473     0.253658     0.188360
min       0.000000     0.000000     0.000000     0.000000
25%       0.096838     0.000000     0.000000     0.074592
50%       0.173145     0.000000     0.200180     0.156098
75%       0.277883     0.128378     0.374067     0.281113
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.978048     0.936725     0.762913     0.297779     0.0     0.0
std       0.146547     0.243488     0.425351     0.457341     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006457     0.984504  ...     0.126918
std       0.0     0.0     0.080104     0.123530  ...     0.094652
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.067708
50%       0.0     0.0     0.000000     1.000000  ...     0.124204
75%       0.0     0.0     0.000000     1.000000  ...     0.165254
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.154335     0.112874     0.161847     0.090875     0.085034
std       0.160004     0.122862     0.171260     0.096814     0.093032
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.034331     0.000000     0.000000     0.031891     0.036585
50%       0.130699     0.100073     0.139024     0.073529     0.069498
75%       0.213294     0.197987     0.215501     0.128205     0.116883
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197587     0.082644     0.237166     0.206444
std       0.162563     0.155473     0.253658     0.188360
min       0.000000     0.000000     0.000000     0.000000
25%       0.096838     0.000000     0.000000     0.074592
50%       0.173145     0.000000     0.200180     0.156098
75%       0.277883     0.128378     0.374067     0.281113
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]