In [1]:
import pandas as pd
import numpy as np

In [20]:
df= pd.read_csv('../latih_parted.csv', sep=",")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,6435415,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.146655,0.102916,0.030875,0.210120,0.097770,0.191252,0.054889,Q59FK4_HUMAN,0
1,2585,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.123913,0.043478,0.039130,0.106522,0.000000,0.969565,0.069565,CP1B1_HUMAN,0
2,445154,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.444444,0.214689,0.150659,0.067797,0.184557,0.214689,0.000000,0.421846,UD15_HUMAN,0
3,10127622,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.163599,0.073620,0.000000,0.000000,0.000000,0.261759,CP2C9_HUMAN,0
4,3736,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.052189,0.075630,0.044228,0.071650,0.195046,0.000000,0.147943,0.084918,ENPP1_HUMAN,0

In [18]:
df= pd.read_csv('../latih_parted.csv', sep=",")
com_df=df['0']
prot_df=df['1282']

del(df['0'])
del(df['1282'])

bine=[]
for i in range(1,1283):
    bine.append(i)
df.columns=bine
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('latih_libsvm', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol]
        for j in range(1,ncol) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [ ]:
df= pd.read_csv('../ujimbafikanorm.csv', sep=",", header=None)
comf_df=df[0]
protf_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(1,1282):
    bine.append(i)
df.columns=bine
df[1281]=0
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('mbafika_libsvm', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol]
        for j in range(1,ncol) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [21]:
df= pd.read_csv('../ujimbafikanorm.csv', sep=",", header=None)
com_df=df[0]
prot_df=df[1282]
cp=pd.concat([com_df,prot_df], axis=1)
cp.to_csv("id_mbafika.csv", header=False,index=False)

In [22]:
df= pd.read_csv('../ujimbalindanorm.csv', sep=",", header=None)
com_df=df[0]
prot_df=df[1282]
cp=pd.concat([com_df,prot_df], axis=1)
cp.to_csv("id_mbalinda.csv", header=False,index=False)

In [14]:
df= pd.read_csv('../ujimbalindanorm.csv', sep=",", header=None)
coml_df=df[0]
protl_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(1,1282):
    bine.append(i)
df.columns=bine
df[1281]=0
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('mbalinda_libsvm', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol]
        for j in range(1,ncol) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')