In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
dt_comp1 = pd.read_csv("fpujimbaFika.csv", delimiter=";",header=None)
#dt_comp = pd.read_excel("fpujimbaFika.xlsx", sep=";",header=None)
#dt_comp = pd.read_fwf(r'fpujigabung.csv', delimiter=";",header=None)

In [3]:
#dt_comp=dtcomp.drop([1,2,3], axis=1)

In [4]:
dt_comp1.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
25,Majoroside,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,Loganic,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,Glucoputran,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,Isoforskolin,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,Kaempferol-3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
dt_comp1_id=dt_comp1[0]
del dt_comp1[0]
dt_comp1=pd.concat([dt_comp1_id,dt_comp1.astype('float')], axis=1)
dt_comp1.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
25,Majoroside,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Loganic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Glucoputran,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,Isoforskolin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,Kaempferol-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
dt_comp2 = pd.read_excel("fpujimbaLinda.xlsx", sep=";",header=None)
dt_comp2.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
376,Andrographolide type 2,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
377,Aloin,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
378,14-deoxy-11-oxoandrographolide,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
379,"14-deoxy-11,12-didehydroandrographolide2",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
380,11-hydroxymutakone,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
dt_comp2_id=dt_comp2[0]
del dt_comp2[0]
dt_comp2=pd.concat([dt_comp2_id,dt_comp2.astype('float')], axis=1)
dt_comp2.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
376,Andrographolide type 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,Aloin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
378,14-deoxy-11-oxoandrographolide,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
379,"14-deoxy-11,12-didehydroandrographolide2",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,11-hydroxymutakone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
dt_comp3 = pd.read_csv("fp_tambahan.csv", delimiter=",",header=None)
dt_comp3.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
0,193653,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12035,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
dt_comp3_id=dt_comp3[0]
del dt_comp3[0]
dt_comp3=pd.concat([dt_comp3_id,dt_comp3.astype('float')], axis=1)
dt_comp3.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
0,193653,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12035,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
dt_comp0 = pd.read_csv("fp_latih.csv", delimiter=";",header=None)
dt_comp0.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
114,54682461,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,11707110,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116,5568,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117,135413535,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118,LMT,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
dt_comp0_id=dt_comp0[0]
del dt_comp0[0]
dt_comp0=pd.concat([dt_comp0_id,dt_comp0.astype('float')], axis=1)
dt_comp0.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
114,54682461,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,11707110,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116,5568,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117,135413535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
dt_comp_gabung = dt_comp1.append(pd.DataFrame(data = dt_comp2), ignore_index=True)

In [11]:
dt_comp_gabung=dt_comp_gabung.drop_duplicates(subset=[0])

In [12]:
dt_comp_gabung.tail()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,881
404,Andrographolide type 4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
405,Andrographolide type 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
406,Andrographolide type 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
409,"14-deoxy-11,12-didehydroandrographolide2",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
410,11-hydroxymutakone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#dt_comp = dt_comp[0].str.split(";", n = 882, expand = True) 
#dt_comp.head()

In [10]:
dt_prot0 = pd.read_csv("prot_latih_virus_dip.csv", delimiter=";", header=None)

In [11]:
dt_prot0.tail()

,0,1,2,3,4,5,6,7,8,9,...,391,392,393,394,395,396,397,398,399,400
3,0.006557,0.0,0.000000,0.000000,0.006557,0.000000,0.006557,0.000000,0.003279,0.003279,...,0.006557,0.003279,0.006557,0.000000,0.006557,0.003279,0.000000,0.000000,0.006557,6LU7:A
4,0.004983,0.0,0.001661,0.003322,0.001661,0.003322,0.003322,0.000000,0.006645,0.006645,...,0.003322,0.003322,0.003322,0.000000,0.006645,0.001661,0.003322,0.001661,0.001661,6M0J:A
5,0.005034,0.0,0.001678,0.003356,0.001678,0.003356,0.003356,0.000000,0.006711,0.006711,...,0.003356,0.003356,0.003356,0.000000,0.006711,0.001678,0.003356,0.001678,0.001678,6LZG:A
6,0.004662,0.0,0.004662,0.003108,0.000000,0.005439,0.000777,0.004662,0.000777,0.006216,...,0.003108,0.000777,0.003885,0.002331,0.003885,0.002331,0.003885,0.000000,0.002331,6VSB:A
7,0.004687,0.0,0.004687,0.003906,0.000000,0.006250,0.000781,0.004687,0.000781,0.007031,...,0.003125,0.000781,0.003906,0.002344,0.003906,0.002344,0.003906,0.000000,0.002344,6VXX:A

In [12]:
dt_prot1 = pd.read_csv("targetlatihunip_dip.csv", delimiter=";", header=None)
dt_prot1.tail()

,0,1,2,3,4,5,6,7,8,9,...,391,392,393,394,395,396,397,398,399,400
321,0.000000,0.002132,0.000000,0.002132,0.000000,0.002132,0.000000,0.008529,0.000000,0.000000,...,0.000000,0.000000,0.004264,0.002132,0.004264,0.006397,0.008529,0.002132,0.004264,NEUR4_HUMAN
322,0.006452,0.000000,0.004301,0.004301,0.002151,0.002151,0.000000,0.000000,0.000000,0.002151,...,0.000000,0.004301,0.006452,0.000000,0.002151,0.008602,0.000000,0.004301,0.000000,NRAM_I83A1
323,0.004975,0.002488,0.002488,0.003731,0.000000,0.006219,0.006219,0.002488,0.001244,0.000000,...,0.004975,0.002488,0.003731,0.002488,0.003731,0.002488,0.000000,0.002488,0.006219,NRAM_INBLE
324,0.004362,0.000000,0.003272,0.003272,0.000000,0.007634,0.003272,0.000000,0.000000,0.002181,...,0.003272,0.001091,0.002181,0.006543,0.007634,0.015267,0.002181,0.001091,0.004362,ACE2_HUMAN
325,0.004362,0.000000,0.003272,0.003272,0.000000,0.007634,0.003272,0.000000,0.000000,0.002181,...,0.003272,0.001091,0.002181,0.006543,0.007634,0.015267,0.002181,0.001091,0.004362,IL6RB_HUMAN

In [13]:
#dt_prot2 = pd.read_csv("prot_virus_dip.csv", delimiter=";", header=None)
#dt_prot2.tail()

In [14]:
dt_prot = dt_prot0.append(pd.DataFrame(data = dt_prot1), ignore_index=True,sort=False)
#dt_prot = dt_prot.append(pd.DataFrame(data = dt_prot2), ignore_index=True,sort=False)
dt_prot.head()

,0,1,2,3,4,5,6,7,8,9,...,391,392,393,394,395,396,397,398,399,400
0,0.006445,0.000000,0.005371,0.001074,0.002148,0.005371,0.000000,0.003222,0.004296,0.006445,...,0.004296,0.003222,0.002148,0.004296,0.003222,0.003222,0.003222,0.002148,0.004296,YP_009725307.1
1,0.006378,0.003189,0.003872,0.001595,0.005467,0.004784,0.000911,0.003645,0.003645,0.005695,...,0.002050,0.001139,0.000911,0.001595,0.002961,0.004556,0.004328,0.000228,0.002050,K4LC41_9BETC
2,0.003185,0.000000,0.006369,0.000000,0.003185,0.003185,0.000000,0.000000,0.000000,0.015924,...,0.000000,0.003185,0.003185,0.003185,0.000000,0.006369,0.003185,0.000000,0.006369,PLpro_SARS-CoV-2
3,0.006557,0.000000,0.000000,0.000000,0.006557,0.000000,0.006557,0.000000,0.003279,0.003279,...,0.006557,0.003279,0.006557,0.000000,0.006557,0.003279,0.000000,0.000000,0.006557,6LU7:A
4,0.004983,0.000000,0.001661,0.003322,0.001661,0.003322,0.003322,0.000000,0.006645,0.006645,...,0.003322,0.003322,0.003322,0.000000,0.006645,0.001661,0.003322,0.001661,0.001661,6M0J:A

In [15]:
dt_prot_id=dt_prot[400]
del(dt_prot[400])

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
scaler.fit(dt_prot)
from sklearn.externals import joblib
scaler_filename = "latihscaler.save"
joblib.dump(scaler, scaler_filename) 
scaler = joblib.load(scaler_filename) 
dt_prot_norm= scaler.transform(dt_prot)
dt_prot_norm=pd.DataFrame(dt_prot_norm)
dt_prot_norm.tail()

D:\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
329,0.000000,0.085288,0.000000,0.138593,0.000000,0.042644,0.000000,0.153518,0.000000,0.000000,...,0.041578,0.000000,0.000000,0.243070,0.042644,0.076759,0.313433,0.972281,0.237740,0.136461
330,0.020276,0.000000,0.154839,0.279570,0.072043,0.043011,0.000000,0.000000,0.000000,0.135054,...,0.083871,0.000000,0.253763,0.367742,0.000000,0.038710,0.421505,0.000000,0.479570,0.000000
331,0.015636,0.099502,0.089552,0.242537,0.000000,0.124378,0.223881,0.044776,0.058458,0.000000,...,0.024254,0.213930,0.146766,0.212687,0.049751,0.067164,0.121891,0.000000,0.277363,0.199005
332,0.013709,0.000000,0.117775,0.212650,0.000000,0.152672,0.117775,0.000000,0.000000,0.136968,...,0.085060,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586
333,0.013709,0.000000,0.117775,0.212650,0.000000,0.152672,0.117775,0.000000,0.000000,0.136968,...,0.085060,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586

In [17]:
dt_prot_norm=pd.concat([dt_prot_norm,dt_prot_id,], axis=1)

In [18]:
dt_prot1_norm=dt_prot_norm.iloc[:8, :]
dt_prot1_norm.tail()

,0,1,2,3,4,5,6,7,8,9,...,391,392,393,394,395,396,397,398,399,400
3,0.020609,0.0,0.000000,0.000000,0.219672,0.000000,0.236066,0.000000,0.154098,0.205902,...,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A
4,0.015662,0.0,0.059801,0.215947,0.055648,0.066445,0.119601,0.000000,0.312292,0.417276,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A
5,0.015820,0.0,0.060403,0.218121,0.056208,0.067114,0.120805,0.000000,0.315436,0.421476,...,0.144295,0.197987,0.191275,0.000000,0.120805,0.082215,0.382550,0.187080,0.053691,6LZG:A
6,0.014652,0.0,0.167832,0.202020,0.000000,0.108780,0.027972,0.083916,0.036519,0.390365,...,0.133644,0.045843,0.221445,0.046620,0.069930,0.114219,0.442890,0.000000,0.074592,6VSB:A
7,0.014732,0.0,0.168750,0.253906,0.000000,0.125000,0.028125,0.084375,0.036719,0.441562,...,0.134375,0.046094,0.222656,0.046875,0.070312,0.114844,0.445312,0.000000,0.075000,6VXX:A

In [19]:
#dt_prot0_norm=dt_prot_norm.iloc[8:, :]
#dt_prot0_norm.head()

In [21]:
#dt_comp1['key'] = 1#mbaFika
#dt_comp2['key'] = 1#mbaLinda
#dt_comp0['key'] = 1#Latih
dt_comp3['key'] = 1#Tambahan
dt_prot1_norm['key'] = 1#Latih_virus
#dt_prot0_norm['key'] = 1#Latih_uniprot
dt_prot_norm['key'] =1#latih gabung
#dt_comp_gabung['key'] =1 #Mba Lin+Fik

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [106]:
df = pd.merge(dt_comp0,dt_prot_norm,on='key').drop('key',axis=1)
df.to_csv("latih_combined.csv", header=False,index=False)

In [107]:
df.head()

,0_x,1_x,2_x,3_x,4_x,5_x,6_x,7_x,8_x,9_x,...,391_y,392_y,393_y,394_y,395_y,396_y,397_y,398_y,399_y,400_y
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.184748,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A

In [22]:
df = pd.merge(dt_comp3,dt_prot1_norm,on='key').drop('key',axis=1)
df.to_csv("ujitambahannorm.csv", header=False,index=False)

In [108]:
df = pd.merge(dt_comp1,dt_prot1_norm,on='key').drop('key',axis=1)
df.to_csv("ujimbafikanorm.csv", header=False,index=False)

In [109]:
df = pd.merge(dt_comp2,dt_prot1_norm,on='key').drop('key',axis=1)
df.to_csv("ujimbalindanorm.csv", header=False,index=False)

In [110]:
df = pd.merge(dt_comp_gabung,dt_prot1_norm,on='key').drop('key',axis=1)
df.to_csv("ujigabungnorm.csv", header=False,index=False)

In [111]:
df.head()

,0_x,1_x,2_x,3_x,4_x,5_x,6_x,7_x,8_x,9_x,...,391_y,392_y,393_y,394_y,395_y,396_y,397_y,398_y,399_y,400_y
0,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.184748,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1
1,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC
2,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2
3,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A
4,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A