In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("newall-complete.xlsx",  header=None, index=0)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284
0,0,Moexipril hydrochloride,1,1,1,1,0,0,0,0,...,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN,0
1,1,Moexipril hydrochloride,1,1,1,1,0,0,0,0,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,0
2,2,Moexipril hydrochloride,1,1,1,1,0,0,0,0,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,0
3,3,Moexipril hydrochloride,1,1,1,1,0,0,0,0,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,1
4,4,Moexipril hydrochloride,1,1,1,1,0,0,0,0,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,0

In [3]:
bine=[]
for i in range(0,1284):
    bine.append(i)

In [4]:
df=df.drop([0],axis=1)
df.columns=bine
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283
0,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN,0
1,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,0
2,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,0
3,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,1
4,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,0

In [5]:
df = pd.read_csv("latih.csv", delimiter=';', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283
0,Rocaglamide,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.184519,0.044566,0.062549,0.084441,0.297107,0.00000,0.000000,0.300235,MDR1_HUMAN,0
1,Favipiravir,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.071864,0.000000,0.097442,0.109622,0.231425,0.00000,0.271620,0.116931,FGFR1_HUMAN,0
2,Thiabendazolum,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.175595,0.000000,0.059524,0.035714,0.141369,0.00000,0.110615,0.190476,FAK2_HUMAN,0
3,Gefitinib,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.328691,0.000000,0.000000,0.050139,0.000000,0.00000,0.310585,0.000000,Q1HBJ4_HUMAN,0
4,Lopinavir,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.079523,0.000000,0.000000,0.22664,0.221670,0.063618,CP7A1_HUMAN,0

In [6]:
dataset = df
#del dataset[0]
#del dataset[1282]

In [7]:
#dataset.head()

In [231]:
X = df.drop([0,1282,1283], axis=1)
Y = df[1283]
seed = 7

In [232]:
dataset.isnull().sum().max()

0

In [148]:
#X = dataset.iloc[:,0:1281]
#Y = dataset.iloc[:, 1281]

In [3]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [4]:
import numpy as np
import pylab as pl
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import cross_val_score, GridSearchCV

In [5]:
from sklearn import model_selection

# validation_size = 
# seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.9, random_state=seed)

NameError: name 'X' is not defined

In [234]:
#X_test = rf.drop([0,1282,1283], axis=1)
#Y_test = df[1283]
#idcom = df[0]
#idprot = df[1282]
#seed = 7

In [235]:
print(X.shape)

(3388, 1281)

In [79]:
parameter_space = {
    'C': [0.01,1,100,10000],
    'degree': [3,5],
    'kernel': ['rbf', 'sigmoid', 'poly'],
    'gamma' :['auto','scale'],
}

In [80]:
classifier = svm.SVC()

In [81]:
classifier = GridSearchCV(classifier, parameter_space, n_jobs=-1, cv=5)

In [83]:

classifier.fit(X, Y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [0.01, 1, 100, 10000], 'degree': [3, 5],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'sigmoid', 'poly']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [136]:
print('Best parameters found:\n', classifier.best_params_)

Best parameters found:
 {'C': 100, 'degree': 3, 'gamma': 'scale', 'kernel': 'poly'}

In [34]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 300, num = 3)]
n_estimators

[100, 200, 300]

In [236]:
# Number of trees in random forest
n_estimators = [200]#int(x) for x in np.linspace(start = 100, stop = 300, num = 3)]
# Number of features to consider at every split
max_features = ['auto']#, None]
# Maximum number of levels in tree
#max_depth = []#int(x) for x in np.linspace(10, 110, num = 11)]
#max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1]#hal 2 lit review
# Method of selecting samples for training each tree
bootstrap = [True, False]# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               #'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [237]:
rf = RandomForestClassifier()

In [238]:
rf = GridSearchCV(rf, random_grid, n_jobs=-1, cv=5)

In [239]:
rf.fit(X, Y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'bootstrap': [True, False], 'max_features': ['auto'],
                         'min_samples_leaf': [1], 'min_samples_split': [2],
                         'n_estimators': [200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [240]:
print('Best parameters found:\n', rf.best_params_)

Best parameters found:
 {'bootstrap': False, 'max_features': 'auto', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}

In [91]:
predictions = classifier.predict(X)
print(accuracy_score(Y, predictions))
print(confusion_matrix(Y, predictions))
y_score = classifier.decision_function(X)

NameError: name 'classifier' is not defined

In [85]:
from sklearn.metrics import classification_report
print('Results on the test set:')
print(classification_report(Y, predictions))

Results on the test set:
              precision    recall  f1-score   support

           0       1.00      0.99      0.99      2672
           1       0.97      0.99      0.98       716

    accuracy                           0.99      3388
   macro avg       0.98      0.99      0.99      3388
weighted avg       0.99      0.99      0.99      3388

In [146]:
len(X)

7160

In [241]:
RFpredictions =rf.predict(X)
print(accuracy_score(Y, RFpredictions))
print(confusion_matrix(Y, RFpredictions))
y_score = rf.predict_proba(X)

0.9935064935064936
[[2670    2]
 [  20  696]]

In [242]:
from sklearn.metrics import classification_report
print('Results on the test set:')
print(classification_report(Y, RFpredictions))

Results on the test set:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      2672
           1       1.00      0.97      0.98       716

    accuracy                           0.99      3388
   macro avg       0.99      0.99      0.99      3388
weighted avg       0.99      0.99      0.99      3388

In [7]:
dataAsli = pd.read_excel('bestp+added.xlsx', delimiter= ';', header=None)
#dataAsli = pd.read_fwf(r'ujicsv', delimiter=";",header=None)
dataAsli.head()

,0,1,2,3,4,5,6,7,8,9,...,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284
0,0,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,...,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN,0
1,1,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,0
2,2,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,0
3,3,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,0
4,4,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,0

In [8]:
#new = dataAsli[0].str.split(";", n = 1284, expand = True) 
#new.head()

In [9]:
#dataAsli=dataAsli.drop([0],axis=1)

In [10]:
dataAsli.isnull().sum().max()

147

In [11]:
bine=[]
for i in range(0,1284):
    bine.append(i)

In [12]:
dataAsli=dataAsli.drop([0],axis=1)
dataAsli.columns=bine
dataAsli.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283
0,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN,0
1,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,0
2,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,0
3,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,0
4,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,0

In [13]:
new=dataAsli.dropna()

In [14]:
idcom=new[0]
idprot=new[1282]

In [15]:
new[1283]=0

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
new.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283
0,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN,0
1,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,0
2,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,0
3,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,0
4,Ligand_30Syringaresinol.sdf,0,0,0,0,0,0,0,0,1,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,0

In [17]:
#dataAsli_test = dataAsli[dataAsli[1283]==0]

In [18]:
del new[0]
del new[1283]
del new[1282]

In [19]:
new.shape

(4263, 1281)

In [20]:
#dataAsli.isnull().sum().max()

In [21]:
#dataAsli=dataAsli.fillna(0)

In [22]:
news=new.replace([np.inf, -np.inf], np.nan)

In [23]:
news.isnull().sum().max()

0

In [24]:
news=new
news.shape

(4263, 1281)

In [25]:
X = np.array(news)

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(X)

In [27]:
news[1300]= 1

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
news.head()

,1,2,3,4,5,6,7,8,9,10,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1300
0,0,0,0,0,0,0,0,0,1,1,...,0.004938,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,1
1,0,0,0,0,0,0,0,0,1,1,...,0.004926,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,1
2,0,0,0,0,0,0,0,0,1,1,...,0.004878,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,1
3,0,0,0,0,0,0,0,0,1,1,...,0.004975,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,1
4,0,0,0,0,0,0,0,0,1,1,...,0.002088,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,1

In [29]:
import pickle

In [41]:
rf = pickle.load(open('RF_new', 'rb'))
pred_1 = rf.predict(x_scaled)
print(accuracy_score(news[1300], pred_1))
print(confusion_matrix(news[1300], pred_1))
pred_1 = pd.DataFrame(pred_1)
pred_1[1] = idcom
pred_1[2] = idprot
pred_1.to_excel('bestpharRF-00000.xlsx')
#from sklearn.metrics import roc_curve, auc

0.043631245601688955
[[   0    0]
 [4077  186]]

In [31]:
pred_1 = rf.predict(x_scaled)

In [175]:
pred_2 = classifier.predict(x_scaled)

In [32]:
from sklearn.metrics import roc_curve, auc
print(accuracy_score(news[1300], pred_1))
print(confusion_matrix(news[1300], pred_1))

0.005629838142153413
[[   0    0]
 [4239   24]]

In [33]:
print('Results on the test set:')
print(classification_report(news[1300], pred_1))

Results on the test set:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.01      0.01      4263

    accuracy                           0.01      4263
   macro avg       0.50      0.00      0.01      4263
weighted avg       1.00      0.01      0.01      4263

D:\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [188]:
import pickle
filename = 'SVM_new'
pickle.dump(classifier, open(filename, 'wb'))

In [226]:
import pickle
filename = 'RF_new_400'
pickle.dump(rf, open(filename, 'wb'))

In [178]:
from sklearn.metrics import roc_curve, auc
print(accuracy_score(news[1300], pred_2))
print(confusion_matrix(news[1300], pred_2))

0.0007037297677691766
[[   0    0]
 [4260    3]]

In [179]:
print('Results on the test set:')
print(classification_report(news[1300], pred_2))

Results on the test set:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.00      0.00      4263

    accuracy                           0.00      4263
   macro avg       0.50      0.00      0.00      4263
weighted avg       1.00      0.00      0.00      4263

In [180]:
pred_2 = pd.DataFrame(pred_2)

In [181]:
pred_2[1] = idcom
pred_2[2] = idprot

In [182]:
pred_2.head()

   0                            1            2
0  0  Ligand_30Syringaresinol.sdf  IF4A1_HUMAN
1  0  Ligand_30Syringaresinol.sdf  IF4A2_HUMAN
2  0  Ligand_30Syringaresinol.sdf  IF4A3_HUMAN
3  0  Ligand_30Syringaresinol.sdf   ACE2_HUMAN
4  0  Ligand_30Syringaresinol.sdf   AKT1_HUMAN

In [34]:
pred_1 = pd.DataFrame(pred_1)

In [35]:
pred_1 = pd.DataFrame(pred_1)
pred_1[1] = idcom
pred_1[2] = idprot
pred_1.to_excel('bestpharRF-00000.xlsx')

In [36]:
pred_1.head()

   0                            1            2
0  0  Ligand_30Syringaresinol.sdf  IF4A1_HUMAN
1  0  Ligand_30Syringaresinol.sdf  IF4A2_HUMAN
2  0  Ligand_30Syringaresinol.sdf  IF4A3_HUMAN
3  0  Ligand_30Syringaresinol.sdf   ACE2_HUMAN
4  0  Ligand_30Syringaresinol.sdf   AKT1_HUMAN

In [37]:
pred_1.to_excel('bestpharRF-00000.xlsx')

In [187]:
pred_2.to_excel('bestpharSVM.xlsx')

In [96]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)
y_pred = rf.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [51]:
rf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [97]:
from sklearn.metrics import roc_curve, auc
print(accuracy_score(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

0.8029508196721311
[[2338   57]
 [ 544  111]]

In [98]:
from sklearn.metrics import classification_report
print('Results on the test set:')
print(classification_report(Y_test, y_pred))

Results on the test set:
              precision    recall  f1-score   support

           0       0.81      0.98      0.89      2395
           1       0.66      0.17      0.27       655

    accuracy                           0.80      3050
   macro avg       0.74      0.57      0.58      3050
weighted avg       0.78      0.80      0.75      3050